<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takefree.dto.mapper.OrderShowDTOMapper">
    <resultMap id="BaseResultMap" type="com.takefree.dto.model.OrderShowDTO">
    </resultMap>
    <sql id="Example_Where_Clause">
        <foreach collection="oredCriteria" item="criteria" separator="or">
            <if test="criteria.valid">
                <foreach collection="criteria.criteria" item="criterion">
                    <choose>
                        <when test="criterion.noValue">
                            and ${criterion.condition}
                        </when>
                        <when test="criterion.singleValue">
                            and ${criterion.condition} #{criterion.value}
                        </when>
                        <when test="criterion.betweenValue">
                            and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                        </when>
                        <when test="criterion.listValue">
                            and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                        </when>
                    </choose>
                </foreach>
            </if>
        </foreach>
    </sql>
    <sql id="Base_Column_List">
      order_show.id,order_show.order_id,order_show.mood_id,order_show.show_content_preview,order_show.pic_homepage,order_show.gmt_create,order_show.gmt_modified,
      take_order.take_time,
      share.title as share_title,share.pic_homepage as share_pic_homepage,
      receiver.id as receiver_id,receiver.nick_name as receiver_nick_name,receiver.small_icon as receiver_small_icon,
      giver.id as giver_id,giver.nick_name as giver_nick_name,giver.small_icon as giver_small_icon,
      mood_info.mood_name as mood_name,mood_info.icon_url as mood_icon_url,
      show_counter.view_count,show_counter.like_count,show_counter.comment_count
    </sql>
    <sql id="Detail_Column_List">
        <include refid="Base_Column_List"/>,order_show_content.content
    </sql>

    <select id="selectShowDTOById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Detail_Column_List"/>
        from  order_show left join mood_info  on order_show.mood_id=order_show.id,
              take_order,share,user_info giver,user_info receiver,show_counter,order_show_content
        where  order_show.order_id=take_order.id
            and take_order.share_id=share.id
            and take_order.owner_id=giver.id
            and take_order.applicant_id=receiver.id
            and order_show.id=show_counter.show_id
            and order_show.id=order_show_content.order_show_id
            and order_show.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="selectShowDTOsByExample" parameterType="com.takefree.dto.query.ShareDTOQuery"
            resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from  order_show left join mood_info  on order_show.mood_id=order_show.id,
              take_order,share,user_info giver,user_info receiver,show_counter
        where  order_show.order_id=take_order.id
            and take_order.share_id=share.id
            and take_order.owner_id=giver.id
            and take_order.applicant_id=receiver.id
            and order_show.id=show_counter.show_id
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="rows != null">
            <if test="offset != null">
                limit ${offset}, ${rows}
            </if>
            <if test="offset == null">
                limit ${rows}
            </if>
        </if>
    </select>

    <!--<select id="selectLikeOrderShowsByExample" parameterType="com.takefree.dto.query.ShareDTOQuery"-->
            <!--resultMap="BaseResultMap">-->
        <!--select-->
        <!--<if test="distinct">-->
            <!--distinct-->
        <!--</if>-->
        <!--<include refid="Base_Column_List"/>-->
        <!--from share,share_counter,user_info as owner,share_like-->
        <!--where-->
        <!--share.id=share_counter.share_id-->
        <!--and share.id=share_like.share_id-->
        <!--and share.owner_id=owner.id-->
        <!--<if test="_parameter != null">-->
            <!--<include refid="Example_Where_Clause"/>-->
        <!--</if>-->
        <!--<if test="orderByClause != null">-->
            <!--order by ${orderByClause}-->
        <!--</if>-->
        <!--<if test="rows != null">-->
            <!--<if test="offset != null">-->
                <!--limit ${offset}, ${rows}-->
            <!--</if>-->
            <!--<if test="offset == null">-->
                <!--limit ${rows}-->
            <!--</if>-->
        <!--</if>-->
    <!--</select>-->

</mapper>
