<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takefree.dto.mapper.ShareCommentDTOMapper">
  <resultMap id="BaseResultMap" type="com.takefree.dto.model.ShareCommentDTO">
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    share_comment.*,
    user_info.nick_name as user_nick_name,user_info.small_icon as user_small_icon,
    parent_share_comment.user_id as parent_user_id,parent_share_comment.content as parent_content,parent_share_comment.gmt_create as parent_gmt_create,
    parent_user_info.nick_name as parent_user_nick_name,parent_user_info.small_icon as parent_user_small_icon
  </sql>
  <select id="selectByExample" parameterType="com.takefree.pojo.query.ShareCommentQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from share_comment
        JOIN user_info ON share_comment.user_id=user_info.id
        LEFT JOIN share_comment parent_share_comment ON share_comment.parent_comment_id=parent_share_comment.id
        LEFT JOIN user_info parent_user_info ON parent_share_comment.user_id=parent_user_info.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from share_comment
    JOIN user_info ON share_comment.user_id=user_info.id
    LEFT JOIN share_comment parent_share_comment ON share_comment.parent_comment_id=parent_share_comment.id
    LEFT JOIN user_info parent_user_info ON parent_share_comment.user_id=parent_user_info.id
    WHERE share_comment.id=#{id,jdbcType=BIGINT}
  </select>
</mapper>
