<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takefree.dto.mapper.ShareDTOMapper">
    <resultMap id="BaseResultMap" type="com.takefree.dto.model.ShareDTO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="owner_id" jdbcType="BIGINT" property="ownerId"/>
        <result column="owner_nick_name" jdbcType="BIGINT" property="ownerNickName"/>
        <result column="pic_homepage" jdbcType="VARCHAR" property="picHomepage"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="share_desc_preview" jdbcType="VARCHAR" property="shareDescPreview"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime"/>
        <result column="taker_nick_name" jdbcType="BIGINT" property="takerNickName"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
        <result column="share_mode_id" jdbcType="INTEGER" property="shareModeId" />
        <result column="transferable" jdbcType="INTEGER" property="transferable" />
        <result column="transfer_type" jdbcType="INTEGER" property="transferType" />
        <result column="participatory" jdbcType="INTEGER" property="participatory" />
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="take_number" jdbcType="INTEGER" property="takeNumber"/>
        <result column="view_count" jdbcType="INTEGER" property="viewCount"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="apply_count" jdbcType="INTEGER" property="applyCount"/>
        <result column="new_apply_count" jdbcType="INTEGER" property="newApplyCount"/>
        <result column="comment_count" jdbcType="INTEGER" property="commentCount"/>
        <result column="new_comment_count" jdbcType="INTEGER" property="newCommentCount"/>
        <result column="longitude" jdbcType="DECIMAL" property="longitude"/>
        <result column="latitude" jdbcType="DECIMAL" property="latitude"/>
        <result column="lbs_description" jdbcType="VARCHAR" property="lbsDescription"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <foreach collection="oredCriteria" item="criteria" separator="or">
            <if test="criteria.valid">
                <foreach collection="criteria.criteria" item="criterion">
                    <choose>
                        <when test="criterion.noValue">
                            and ${criterion.condition}
                        </when>
                        <when test="criterion.singleValue">
                            and ${criterion.condition} #{criterion.value}
                        </when>
                        <when test="criterion.betweenValue">
                            and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                        </when>
                        <when test="criterion.listValue">
                            and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                        </when>
                    </choose>
                </foreach>
            </if>
        </foreach>
    </sql>
    <sql id="Base_Column_List">
    share.*,share_counter.view_count,share_counter.number, share_counter.take_number,share_counter.like_count,share_counter.apply_count,share_counter.new_apply_count,share_counter.comment_count,share_counter.new_comment_count,owner.nick_name as owner_nick_name,owner.small_icon as owner_small_icon,share_desc.description
    </sql>
    <sql id="Detail_Column_List">
        <include refid="Base_Column_List"/>,share_lbs.longitude,share_lbs.latitude,share_lbs.lbs_description
   </sql>

    <select id="selectShareInfoListByExample" parameterType="com.takefree.dto.query.ShareDTOQuery"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Detail_Column_List"/>
        from share,share_counter,user_info as owner,share_desc,share_lbs
        where
          share.id=share_counter.share_id
          and share.owner_id=owner.id
          and share.id=share_desc.share_id
          and share.id=share_lbs.share_id
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="rows != null">
            <if test="offset != null">
                limit ${offset}, ${rows}
            </if>
            <if test="offset == null">
                limit ${rows}
            </if>
        </if>
    </select>

    <select id="selectLikeShareInfoListByExample" parameterType="com.takefree.dto.query.ShareDTOQuery"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Detail_Column_List"/>
        from share,share_counter,user_info as owner,share_like,share_desc,share_lbs
        where
          share.id=share_counter.share_id
          and share.id=share_like.share_id
          and share.owner_id=owner.id
          and share.id=share_desc.share_id
          and share.id=share_lbs.share_id
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="rows != null">
            <if test="offset != null">
                limit ${offset}, ${rows}
            </if>
            <if test="offset == null">
                limit ${rows}
            </if>
        </if>
    </select>

    <select id="selectApplyShareInfoListByExample" parameterType="com.takefree.pojo.query.TakeApplicationQuery"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Detail_Column_List"/>
        from share,share_counter,user_info as owner,take_application,share_desc,share_lbs
        where
            share.id=share_counter.share_id
            and share.id=take_application.share_id
            and share.owner_id=owner.id
            and share.id=share_desc.share_id
            and share.id=share_lbs.share_id
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>

        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="rows != null">
            <if test="offset != null">
                limit ${offset}, ${rows}
            </if>
            <if test="offset == null">
                limit ${rows}
            </if>
        </if>
    </select>

    <select id="selectReceivedShareInfoListByExample" parameterType="com.takefree.dto.query.ShareDTOQuery"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Detail_Column_List"/>
        from share,share_counter,user_info as owner,take_order,share_desc,share_lbs
        where
            share.id=share_counter.share_id
            and share.id=take_order.share_id
            and share.owner_id=owner.id
            and share.id=share_desc.share_id
            and share.id=share_lbs.share_id
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>

        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <if test="rows != null">
            <if test="offset != null">
                limit ${offset}, ${rows}
            </if>
            <if test="offset == null">
                limit ${rows}
            </if>
        </if>
    </select>

    <select id="selectShareInfoById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Detail_Column_List"/>
        from share,share_counter,user_info as owner,share_desc,share_lbs
        where share.id=share_counter.share_id
        and share.owner_id=owner.id
        and share.id=share_desc.share_id
        and share.id = #{shareId,jdbcType=BIGINT}
    </select>

    <select id="selectShareDetailById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Detail_Column_List"/>
        from share,share_counter,user_info as owner,share_desc,share_lbs
        where share.id=share_counter.share_id
        and share.id=share_desc.share_id
        and share.id=share_lbs.share_id
        and share.owner_id=owner.id
        and share.id = #{shareId,jdbcType=BIGINT}
    </select>
</mapper>
