<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takefree.dto.mapper.ShowLikeDTOMapper">
  <resultMap id="BaseResultMap" type="com.takefree.dto.model.ShowLikeDTO">
  </resultMap>
  <sql id="Example_Where_Clause">
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
        </if>
      </foreach>
  </sql>
  <sql id="Base_Column_List">
    show_like.id, show_like.show_id, show_like.user_id, show_like.gmt_create, show_like.gmt_modified, show_like.version ,
    user_info.nick_name as user_nick_name, user_info.small_icon as user_small_icon
  </sql>
  <select id="selectByExample" parameterType="com.takefree.pojo.query.ShowLikeQuery" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from show_like,user_info
    where show_like.user_id=user_info.id
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List" />-->
    <!--from order_show_like,user_info owner-->
    <!--where order_show_like.user_id=user.id-->
    <!--and order_show_like.order_id=owner.id-->
    <!--and share_like.user_id=user.id-->
  <!--</select>-->
</mapper>
