# Operating System Files

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini


*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*
*.bak
*.log

# Build Artifacts
.gradle/
build/
target/
bin/
dependency-reduced-pom.xml
application-sms.properties
application-im.properties

# Eclipse Project Files
.classpath
.project
.settings/

# IntelliJ IDEA Files
.idea/
*.iml
*.ipr
*.iws
*.idea
.trigger
