# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*
*.bak
*.log

# Build Artifacts
.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files
.classpath
.project
.settings/

# IntelliJ IDEA Files
.idea/
*.iml
*.ipr
*.iws
*.idea
