<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takefree.pojo.mapper.OrderShowMapper">
  <resultMap id="BaseResultMap" type="com.takefree.pojo.model.OrderShow">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="receiver_id" jdbcType="BIGINT" property="receiverId" />
    <result column="giver_id" jdbcType="BIGINT" property="giverId" />
    <result column="mood_id" jdbcType="INTEGER" property="moodId" />
    <result column="show_content_preview" jdbcType="VARCHAR" property="showContentPreview" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="pic_homepage" jdbcType="VARCHAR" property="picHomepage" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, order_id, receiver_id, giver_id, mood_id, show_content_preview, gmt_create, gmt_modified,
    version, pic_homepage
  </sql>
  <select id="selectByExample" parameterType="com.takefree.pojo.query.OrderShowQuery" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_show
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <include refid="Base_Column_List" />
    from order_show
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    delete from order_show
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.takefree.pojo.query.OrderShowQuery">
    <!--
      WARNING - @mbg.generated
    -->
    delete from order_show
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.takefree.pojo.model.OrderShow">
    <!--
      WARNING - @mbg.generated
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_show (order_id, receiver_id, giver_id,
    mood_id, show_content_preview, gmt_create,
    gmt_modified, version, pic_homepage
    )
    values (#{orderId,jdbcType=BIGINT}, #{receiverId,jdbcType=BIGINT}, #{giverId,jdbcType=BIGINT},
    #{moodId,jdbcType=INTEGER}, #{showContentPreview,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP},
    #{gmtModified,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, #{picHomepage,jdbcType=VARCHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.takefree.pojo.model.OrderShow">
    <!--
      WARNING - @mbg.generated
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_show
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        order_id,
      </if>
      <if test="receiverId != null">
        receiver_id,
      </if>
      <if test="giverId != null">
        giver_id,
      </if>
      <if test="moodId != null">
        mood_id,
      </if>
      <if test="showContentPreview != null">
        show_content_preview,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="picHomepage != null">
        pic_homepage,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="receiverId != null">
        #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="giverId != null">
        #{giverId,jdbcType=BIGINT},
      </if>
      <if test="moodId != null">
        #{moodId,jdbcType=INTEGER},
      </if>
      <if test="showContentPreview != null">
        #{showContentPreview,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="picHomepage != null">
        #{picHomepage,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.takefree.pojo.query.OrderShowQuery" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from order_show
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update order_show
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.receiverId != null">
        receiver_id = #{record.receiverId,jdbcType=BIGINT},
      </if>
      <if test="record.giverId != null">
        giver_id = #{record.giverId,jdbcType=BIGINT},
      </if>
      <if test="record.moodId != null">
        mood_id = #{record.moodId,jdbcType=INTEGER},
      </if>
      <if test="record.showContentPreview != null">
        show_content_preview = #{record.showContentPreview,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.picHomepage != null">
        pic_homepage = #{record.picHomepage,jdbcType=VARCHAR},
      </if>
      version = version + 1
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update order_show
    set id = #{record.id,jdbcType=BIGINT},
    order_id = #{record.orderId,jdbcType=BIGINT},
    receiver_id = #{record.receiverId,jdbcType=BIGINT},
    giver_id = #{record.giverId,jdbcType=BIGINT},
    mood_id = #{record.moodId,jdbcType=INTEGER},
    show_content_preview = #{record.showContentPreview,jdbcType=VARCHAR},
    gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
    gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
    pic_homepage = #{record.picHomepage,jdbcType=VARCHAR},
    version = version + 1
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.takefree.pojo.model.OrderShow">
    <!--
      WARNING - @mbg.generated
    -->
    update order_show
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="receiverId != null">
        receiver_id = #{receiverId,jdbcType=BIGINT},
      </if>
      <if test="giverId != null">
        giver_id = #{giverId,jdbcType=BIGINT},
      </if>
      <if test="moodId != null">
        mood_id = #{moodId,jdbcType=INTEGER},
      </if>
      <if test="showContentPreview != null">
        show_content_preview = #{showContentPreview,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="picHomepage != null">
        pic_homepage = #{picHomepage,jdbcType=VARCHAR},
      </if>
      version = version + 1
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.takefree.pojo.model.OrderShow">
    <!--
      WARNING - @mbg.generated
    -->
    update order_show
    set order_id = #{orderId,jdbcType=BIGINT},
    receiver_id = #{receiverId,jdbcType=BIGINT},
    giver_id = #{giverId,jdbcType=BIGINT},
    mood_id = #{moodId,jdbcType=INTEGER},
    show_content_preview = #{showContentPreview,jdbcType=VARCHAR},
    gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
    gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
    pic_homepage = #{picHomepage,jdbcType=VARCHAR},
    version = version + 1,
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
