<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takefree.pojo.mapper.ShareCounterMapper">
  <resultMap id="BaseResultMap" type="com.takefree.pojo.model.ShareCounter">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="share_id" jdbcType="BIGINT" property="shareId" />
    <result column="number" jdbcType="INTEGER" property="number"/>
    <result column="take_number" jdbcType="INTEGER" property="takeNumber"/>
    <result column="view_count" jdbcType="INTEGER" property="viewCount" />
    <result column="like_count" jdbcType="INTEGER" property="likeCount" />
    <result column="apply_count" jdbcType="INTEGER" property="applyCount" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="comment_count" jdbcType="INTEGER" property="commentCount" />
    <result column="new_comment_count" jdbcType="INTEGER" property="newCommentCount" />
    <result column="new_apply_count" jdbcType="INTEGER" property="newApplyCount" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
    -->
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    share_id, number, take_number,view_count, like_count, apply_count, gmt_create, gmt_modified, version,
    comment_count, new_comment_count, new_apply_count,number,take_number
  </sql>
  <select id="selectByExample" parameterType="com.takefree.pojo.query.ShareCounterQuery" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from share_counter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="rows != null">
      <if test="offset != null">
        limit ${offset}, ${rows}
      </if>
      <if test="offset == null">
        limit ${rows}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    select 
    <include refid="Base_Column_List" />
    from share_counter
    where share_id = #{shareId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    delete from share_counter
    where share_id = #{shareId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.takefree.pojo.query.ShareCounterQuery">
    <!--
      WARNING - @mbg.generated
    -->
    delete from share_counter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.takefree.pojo.model.ShareCounter">
    <!--
      WARNING - @mbg.generated
    -->
    insert into share_counter (share_id, view_count, like_count,
    apply_count, gmt_create, gmt_modified,
    version, comment_count, new_comment_count,
    new_apply_count,number,take_number)
    values (#{shareId,jdbcType=BIGINT}, #{viewCount,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER},
    #{applyCount,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP},
    #{version,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, #{newCommentCount,jdbcType=INTEGER},
    #{newApplyCount,jdbcType=INTEGER},#{number,jdbcType=INTEGER}, #{takeNumber,jdbcType=INTEGER}})
  </insert>
  <insert id="insertSelective" parameterType="com.takefree.pojo.model.ShareCounter">
    <!--
      WARNING - @mbg.generated
    -->
    insert into share_counter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shareId != null">
        share_id,
      </if>
      <if test="viewCount != null">
        view_count,
      </if>
      <if test="likeCount != null">
        like_count,
      </if>
      <if test="applyCount != null">
        apply_count,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="commentCount != null">
        comment_count,
      </if>
      <if test="newCommentCount != null">
        new_comment_count,
      </if>
      <if test="newApplyCount != null">
        new_apply_count,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="takeNumber != null">
        take_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shareId != null">
        #{shareId,jdbcType=BIGINT},
      </if>
      <if test="viewCount != null">
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="applyCount != null">
        #{applyCount,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null">
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="newCommentCount != null">
        #{newCommentCount,jdbcType=INTEGER},
      </if>
      <if test="newApplyCount != null">
        #{newApplyCount,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="takeNumber != null">
        #{takeNumber,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.takefree.pojo.query.ShareCounterQuery" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
    -->
    select count(*) from share_counter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update share_counter
    <set>
      <if test="record.shareId != null">
        share_id = #{record.shareId,jdbcType=BIGINT},
      </if>
      <if test="record.viewCount != null">
        view_count = #{record.viewCount,jdbcType=INTEGER},
      </if>
      <if test="record.likeCount != null">
        like_count = #{record.likeCount,jdbcType=INTEGER},
      </if>
      <if test="record.applyCount != null">
        apply_count = #{record.applyCount,jdbcType=INTEGER},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.commentCount != null">
        comment_count = #{record.commentCount,jdbcType=INTEGER},
      </if>
      <if test="record.newCommentCount != null">
        new_comment_count = #{record.newCommentCount,jdbcType=INTEGER},
      </if>
      <if test="record.newApplyCount != null">
        new_apply_count = #{record.newApplyCount,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number=#{number,jdbcType=INTEGER},
      </if>
      <if test="takeNumber != null">
        take_number=#{takeNumber,jdbcType=INTEGER},
      </if>
      version = version+1
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    <!--
      WARNING - @mbg.generated
    -->
    update share_counter
    set share_id = #{record.shareId,jdbcType=BIGINT},
        view_count = #{record.viewCount,jdbcType=INTEGER},
        like_count = #{record.likeCount,jdbcType=INTEGER},
        apply_count = #{record.applyCount,jdbcType=INTEGER},
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
        comment_count = #{record.commentCount,jdbcType=INTEGER},
        new_comment_count = #{record.newCommentCount,jdbcType=INTEGER},
        new_apply_count = #{record.newApplyCount,jdbcType=INTEGER},
        version = version+1
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.takefree.pojo.model.ShareCounter">
    <!--
      WARNING - @mbg.generated
    -->
    update share_counter
    <set>
      <if test="viewCount != null">
        view_count = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null">
        like_count = #{likeCount,jdbcType=INTEGER},
      </if>
      <if test="applyCount != null">
        apply_count = #{applyCount,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="commentCount != null">
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="newCommentCount != null">
        new_comment_count = #{newCommentCount,jdbcType=INTEGER},
      </if>
      <if test="newApplyCount != null">
        new_apply_count = #{newApplyCount,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number= #{number,jdbcType=INTEGER},
      </if>
      <if test="takeNumber != null">
        take_number= #{takeNumber,jdbcType=INTEGER},
      </if>
      version = version + 1
    </set>
    where share_id = #{shareId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.takefree.pojo.model.ShareCounter">
    <!--
      WARNING - @mbg.generated
    -->
    update share_counter
    set view_count = #{viewCount,jdbcType=INTEGER},
      like_count = #{likeCount,jdbcType=INTEGER},
      apply_count = #{applyCount,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      comment_count = #{commentCount,jdbcType=INTEGER},
      new_comment_count = #{newCommentCount,jdbcType=INTEGER},
      new_apply_count = #{newApplyCount,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      take_number = #{takeNumber,jdbcType=INTEGER},
      version = version + 1
    where share_id = #{shareId,jdbcType=BIGINT}
  </update>
  <update id="changeViewCount">
    <!--
      gaoxiang
    -->
    update share_counter
    set
    view_count = view_count + #{number,jdbcType=INTEGER},
    version = version + 1
    where share_id = #{shareId,jdbcType=BIGINT}
  </update>
  <update id="changeLikeCount" >
    <!--
      gaoxiang
    -->
    update share_counter
    set
    like_count = like_count + #{number,jdbcType=INTEGER},
    version = version + 1
    where share_id = #{shareId,jdbcType=BIGINT}
  </update>
  <update id="changeApplyCount" >
    <!--
      gaoxiang
    -->
    update share_counter
    set
    apply_count = apply_count + #{number,jdbcType=INTEGER},
    new_apply_count = new_apply_count + #{number,jdbcType=INTEGER},
    version = version + 1
    where share_id = #{shareId,jdbcType=BIGINT}
  </update>
  <update id="changeCommentCount" >
    <!--
      gaoxiang
    -->
    update share_counter
    set
    comment_count = comment_count + #{number,jdbcType=INTEGER},
    new_comment_count = new_comment_count + #{number,jdbcType=INTEGER},
    version = version + 1
    where share_id = #{shareId,jdbcType=BIGINT}
  </update>

  <update id="changeNumberCount" >
    <!--
      gaoxiang
    -->
    update share_counter
    set
    number = number + #{number,jdbcType=INTEGER},
    version = version + 1
    where share_id = #{shareId,jdbcType=BIGINT}
  </update>

  <update id="changeTakerCount" >
    <!--
      WARNING - @mbg.generated
    -->
    update share_counter
    set
    take_number = take_number + #{number,jdbcType=INTEGER},
    version = version + 1
    where share_id = #{shareId,jdbcType=BIGINT}
  </update>
</mapper>
