<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takefree.dao.OrderShowMapper">
    <resultMap id="BaseResultMap" type="com.takefree.model.OrderShowDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="order_id" jdbcType="BIGINT" property="orderId" />
        <result column="receiver_id" jdbcType="BIGINT" property="receiverId" />
        <result column="giver_id" jdbcType="BIGINT" property="giverId" />
        <result column="mood_id" jdbcType="INTEGER" property="moodId" />
        <result column="show_content_preview" jdbcType="VARCHAR" property="showContentPreview" />
        <result column="version" jdbcType="INTEGER" property="version" />
    </resultMap>

    <sql id="Query_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                <trim prefix="(" prefixOverrides="and" suffix=")">
                    <foreach collection="criteria.criteria" item="criterion">
                        <choose>
                            <when test="criterion.noValue">
                                and ${criterion.condition}
                            </when>
                            <when test="criterion.singleValue">
                                and ${criterion.condition} #{criterion.value}
                            </when>
                            <when test="criterion.betweenValue">
                                and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                            </when>
                            <when test="criterion.listValue">
                                and ${criterion.condition}
                            <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                #{listItem}
                            </foreach>
                            </when>
                        </choose>
                    </foreach>
                </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Update_By_Query_Where_Clause">
        <where>
            <foreach collection="query.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <sql id="Base_Column_List">
        id,gmt_create,gmt_modified,order_id,receiver_id,giver_id,mood_id,show_content_preview,version
    </sql>

    <select id="selectByQuery" parameterType="com.takefree.query.OrderShowQuery" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
            from order_show
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
        <include refid="MysqlDialectSuffix" />
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" /> from order_show where id = #{Id,jdbcType=BIGINT}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from order_show where id = #{Id,jdbcType=BIGINT}
    </delete>

    <delete id="deleteByQuery" parameterType="com.takefree.query.OrderShowQuery">
        delete from order_show
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </delete>

    <insert id="insertSelective" parameterType="com.takefree.model.OrderShowDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into order_show
        <trim prefix="(" suffix=")" suffixOverrides=",">
            gmt_create,gmt_modified,
            <if test="orderId != null">
                order_id,
            </if>
            <if test="receiverId != null">
                receiver_id,
            </if>
            <if test="giverId != null">
                giver_id,
            </if>
            <if test="moodId != null">
                mood_id,
            </if>
            <if test="showContentPreview != null">
                show_content_preview,
            </if>
            <if test="version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            now(),now(),
            <if test="orderId != null">
                #{orderId,jdbcType=BIGINT},
            </if>
            <if test="receiverId != null">
                #{receiverId,jdbcType=BIGINT},
            </if>
            <if test="giverId != null">
                #{giverId,jdbcType=BIGINT},
            </if>
            <if test="moodId != null">
                #{moodId,jdbcType=INTEGER},
            </if>
            <if test="showContentPreview != null">
                #{showContentPreview,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="countByQuery" parameterType="com.takefree.query.OrderShowQuery" resultType="java.lang.Integer">
        select count(*) from order_show
        <if test="_parameter != null">
            <include refid="Query_Where_Clause" />
        </if>
    </select>

    <update id="updateByQuerySelective" parameterType="map">
        update order_show
        <set>
            gmt_modified=now(),
            <if test="record.orderId != null">
                order_id = #{record.orderId,jdbcType=BIGINT},
            </if>
            <if test="record.receiverId != null">
                receiver_id = #{record.receiverId,jdbcType=BIGINT},
            </if>
            <if test="record.giverId != null">
                giver_id = #{record.giverId,jdbcType=BIGINT},
            </if>
            <if test="record.moodId != null">
                mood_id = #{record.moodId,jdbcType=INTEGER},
            </if>
            <if test="record.showContentPreview != null">
                show_content_preview = #{record.showContentPreview,jdbcType=VARCHAR},
            </if>
            <if test="record.version != null">
                version = #{record.version,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByQuery" parameterType="map">
        update order_show set
        order_id = #{record.orderId,jdbcType=BIGINT},
        receiver_id = #{record.receiverId,jdbcType=BIGINT},
        giver_id = #{record.giverId,jdbcType=BIGINT},
        mood_id = #{record.moodId,jdbcType=INTEGER},
        show_content_preview = #{record.showContentPreview,jdbcType=VARCHAR},
        version = #{record.version,jdbcType=INTEGER},
        gmt_modified = now()
        <if test="_parameter != null">
            <include refid="Update_By_Query_Where_Clause" />
        </if>
    </update>

    <update id="updateByPrimaryKeySelective" parameterType="com.takefree.model.OrderShowDO">
        update order_show
        <set>
            gmt_modified=now(),
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=BIGINT},
            </if>
            <if test="receiverId != null">
                receiver_id = #{receiverId,jdbcType=BIGINT},
            </if>
            <if test="giverId != null">
                giver_id = #{giverId,jdbcType=BIGINT},
            </if>
            <if test="moodId != null">
                mood_id = #{moodId,jdbcType=INTEGER},
            </if>
            <if test="showContentPreview != null">
                show_content_preview = #{showContentPreview,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{Id,jdbcType=BIGINT}
    </update>

    <sql id="MysqlDialectSuffix">
        <if test="pageOffset &gt;= 0 and pageSize &gt; 0">
            <![CDATA[ LIMIT #{pageOffset,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER} ]]>
        </if>
    </sql>

</mapper>
